.titles {
font-style:italic;color: rgb(91, 24, 91);padding-top: 30px;padding-left: 30px;font-weight: bold;}

#header1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#buttonForForm {

    padding-top: 30px;
    padding-left: 30px;
    
    }
    